<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Scover.WinClean.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Scover.WinClean.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Scover.WinClean.Properties.Settings>
            <setting name="ScriptTimeout" serializeAs="String">
                <value>05:00:00</value>
            </setting>
            <setting name="DetailsDuringExecution" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DetailsAfterExecution" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowScriptEdit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowUpdateDialog" serializeAs="String">
                <value>True</value>
            </setting>
        </Scover.WinClean.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Scover.WinClean.Properties.Settings>
            <setting name="WikiUrl" serializeAs="String">
                <value>https://github.com/5cover/WinClean/wiki</value>
            </setting>
        </Scover.WinClean.Properties.Settings>
    </applicationSettings>
</configuration>