<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Scover.WinClean.Properties.Persistent" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Scover.WinClean.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Scover.WinClean.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Scover.WinClean.Properties.Persistent>
            <setting name="ScriptExecutionTimes" serializeAs="String">
                <value />
            </setting>
        </Scover.WinClean.Properties.Persistent>
        <Scover.WinClean.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="IsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowUpdateDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsLoggingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScriptDetectionTimeout" serializeAs="String">
                <value>00:00:10</value>
            </setting>
        </Scover.WinClean.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Scover.WinClean.Properties.Settings>
            <setting name="ScriptFileExtension" serializeAs="String">
                <value>.xml</value>
            </setting>
            <setting name="DefaultHostVersions" serializeAs="String">
                <value>*-*</value>
            </setting>
            <setting name="DefaultScriptVersions" serializeAs="String">
                <value>*-*</value>
            </setting>
        </Scover.WinClean.Properties.Settings>
    </applicationSettings>
</configuration>